.login {
  margin: 0 auto;
  padding-top: 10rem;
  max-width: 300px;
  text-align: center;
}

.login-form {
  margin-top: 1rem;
}

.login__item .mdl-button {
  margin-top: 1rem;
}

.demo-header a {
  position: absolute;
  z-index: 99;
  top: 34px;
  right: 34px;
}

main.mdl-layout__content.mdl-color--grey-100 {
  position: absolute;
  right: 0;
  top: 62px;
  left: 0;
  bottom: 200px;
  overflow: auto;
  min-height: 1%;
  background-color: #fff !important;
}

.mdl-layout__header.mdl-color--grey-100 {
  height: 200px;
  position: fixed;
  bottom: 0;
  background-color: #fafafa !important;
  z-index: 9999;
}

.comment {
  padding-bottom: 30px;
}

.comment__header {
  padding-bottom: 10px;
}

body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

h4 {
  margin-left: 20px;
}

.message {
  color: #444;
  width: 80%;
  padding: 0 20px;
}

.message .mdl-textfield {
  color: #444;
  width: 100%;
}

.demo-drawer {
  border: none;
}

.demo-drawer .mdl-menu__container {
  z-index: -1;
}

.demo-drawer .demo-navigation {
  z-index: -2;
}

.demo-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.demo-navigation {
  flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}