<div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
  <div class="comment mdl-color-text--grey-700" ng-repeat="message in messagesCtrl.messages">
    <header class="comment__header">
      <div class="comment__author">
        <strong>{{ channelsCtrl.getDisplayName(message.uid) }}</strong>
        <span>{{ message.timestamp | date: 'short' }}</span>
      </div>
    </header>

    <div class="comment__text">
      {{ message.body }}
    </div>
  </div>
</div>

<div class="mdl-layout__comments mdl-color--grey-100">
  <form class="message" ng-submit="messagesCtrl.sendMessage()">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" id="comment" type="text" ng-model="messagesCtrl.message">
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-button--icon" type="submit">
      <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add message</span>
    </button>
  </form>
</div>
