body {
  color: rgba(0, 0, 0, .5);
}

a,
button {
  transition: all .2s ease-in-out;
}

.btn,
.form-control {
  border-radius: .18rem;
}

.nav-tabs .nav-link {
  border-radius: .18rem .18rem 0 0;
}

.app-sign {
  margin-top: 4rem;
}

  .app-sign form {
    margin: 2rem 0 1rem 0;
  }
